.containingDiv {
    text-align: center;
    padding-top: 30px;
    background-image: url("https://thumbs.dreamstime.com/b/wooden-lining-boards-wall-white-grey-wood-texture-background-old-panels-seamless-pattern-horizontal-planks-103674226.jpg");
}